.centre {
	text-align: center;
	padding-top: 50px;
}
.presentation{
	display:flex;
	justify-content: space-around;
	padding-top: 50px;
	flex-flow: wrap;
	width: 100%;
}
.pres{
text-align: center;
	width: 45%;

	min-width: 620px;

}
.row{
	margin:0;
}
.form{
	text-align: center;
	margin-top: 50px;
}

.centresimple{

	text-align: center;
}
.centresimple{

	text-align: center;
}
.foot{
	background-color: #FFFF6F;
	width: 100%;
	text-align:center;
	height: 200px;
	margin-top: 200px;
}
.margtop{
	margin-top: 50px;
}
@media screen and (max-width: 768px) {
	.pres1 {
padding-top:30px; 
	}
  }

